/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common part */
body{

font-family: 'Poppins',
sans-serif;
}

h1{
    font-family: 'Poppins',
    sans-serif;
    }
input {
    background-color: #DCDCDC;
    border: none;
    width: 200px;
    height: 30px;

}

/* calling id for custom CSS edit */
#calc-part{
    background-color: #F8F8F8;
    

    
}

#calc-btn{
    border: none;
    
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    margin: 2%;
}
#save-btn {
    border: none;
    
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin: 2%;
}

.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}

.notify-section {
    width: 35%;
    margin: 0 auto;
}